#box-transaction{
    width: 1100px;
    margin: 10px auto;
}
#box-transaction h1{
    margin: 30px 0px;
    text-align: center;
    font-size: 20px;
    font-family: 'PT Sans Caption';
    letter-spacing: -0.5px;
}
#list-tp {
    font-size: 12px;
    font-family: 'Noto Sans';
    text-transform: lowercase;
    list-style: none;
    color: #808080;
    margin: 0;
    padding: 0;
}
#lit1{
    display: inline-block;
    width: 230px;
    text-align: center;
}
#lit2{
    display: inline-block;
    width: 100px;
    text-align: center;
}
#lit3{
    display: inline-block;
    width: 170px;
    text-align: center;
}
#lit4{
    display: inline-block;
    width: 224px;
    text-align: center;
}
#lit5{
    display: inline-block;
    width: 205px;
    text-align: center;
}
#lit6{
    display: inline-block;
    width: 104px;
    text-align: center;
}
#box-list-transaction .items{
    margin: 30px 0px;
    padding: 0;
    list-style: none;
}
.items  {
    list-style: none;
}

.items .t-item {
    padding-left: 7px;
}

.items .t-item:hover{
    background: #DCDCDC;
}

.rentact-info{
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-image: url('../images/enter.jpg');
    background-position: 20px -5px;
}
.r-info{
    line-height: 23px;
    font-family: 'Noto sans';
    font-size: 13px;
    color: #050505;
    text-align: left;
    font-style: italic;
}
.r-info-date{
    margin-right: 20px;
    display: inline-block;
}
.r-info-name{
    margin-right: 20px;
    display: inline-block;
}
.r-info-phone{
    display: inline-block;
    padding-right: 10px;
}
.r-info-date span, .r-info-name span, .r-info-phone span{
    color: #6B6B6B;
}
.ti-photo{
    float: left;
    width: 70px;
    height: 40px;
    margin-top: 5px;
}
.ti-photo img{
    height: 45px;
    padding: 1px;
    border: 1px solid #9B9B9B;
    border-radius: 3px;
    margin-bottom: 0px;
}
.ti-auto{
    font-size: 14px;
    font-family: 'PT Sans Caption';
    letter-spacing: -0.5px;
    width: 134px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
}
.ti-time{
    font-size: 14px;
    font-family: 'PT Sans Caption';
    letter-spacing: -0.5px;
    width: 95px;
    float: left;
    line-height: 18px;
    padding-left: 10px;
    margin-top: 5px;
}
.ti-op{
    font-size: 14px;
    font-family: 'PT Sans Caption';
    letter-spacing: -0.5px;
    width: 177px;
    float: left;
    line-height: 30px;
    margin-top: 5px;
    color: #F1790F;
}
.ti-all{
    font-size: 15px;
    font-family: 'PT Sans Caption';
    letter-spacing: -0.5px;
    width: 188px;
    text-align: right;
    float: left;
    font-weight: normal;
    line-height: 30px;
    color: #333;
}
.ti-rc{
    font-size: 14px;
    font-family: 'PT Sans Caption';
    letter-spacing: -0.5px;
    width: 213px;
    float: left;
    line-height: 30px;
    height: 30px;
    text-align: center;
    overflow: hidden;
    margin-top: 5px;
}

.ti-st a{
    display: inline-block;
    background: #0195D0;
    font-size: 12px;
    padding: 0px 10px;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
}
.stp1{
    line-height: 20px;
    padding-right: 5px;
    display: block;
}

.stp2{
    line-height: 20px;
    color: #FEFFFF;
    background-color: #3CA717;
    padding-right: 5px;    display: block;
}

.stp3{
    line-height: 20px;
    color: #FEFFFF;
    background-color: #DF3636;
    padding-right: 5px;      display: block;
}

.ti-am{
    font-size: 15px;
    font-family: 'PT Sans Caption';
    letter-spacing: -0.5px;
    width: 108px;
    float: left;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}
.ti-st{
    font-size: 14px;
    font-family: 'PT Sans Caption';
    letter-spacing: -0.5px;
    width: 130px;
    float: left;
    text-align: right;
    line-height: 30px;
}
.no-pay{
    border-left: 8px solid #EF0707;
}
.yes-pay{
    border-left: 8px solid #3CA717;
}
.nosuccess-label{
    color: #E10D0D;
    line-height: 23px;
    display: block;
    font-size: 13px;
}
.success-label{
    color: #2FA706;
    line-height: 60px;
    display: block;
    font-size: 13px;
}
.ti-auto span{
    font-family: 'Noto Sans';
    font-size: 11px;
    color: #333;
}