.items {
    margin: 20px 0px;
    padding: 0px;
}

.items li {
    padding: 0px;
    margin:0px;

    -webkit-transition: height 0.5s ease, box-shadow 0.5s linear;
    transition: height 0.5s ease, box-shadow 0.5s linear;
    box-shadow: rgba(59, 59, 59, 0.6) 0px 1px 6px;
    border-radius: 4px;
    margin-bottom:10px;
    width: 616px;
    display: inline-block;
    height: 165px;
}

.it-1 {
    float: left;
    width: 160px;
    overflow: hidden;
    text-align: left;
    max-height: 191px;
    margin-right: 11px;
}
.it-1 img{
    height: 165px;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

.it-2 {
    float: left;
    text-align: left;
    position: relative;
    padding: 7px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #fff;

    width: auto;
}

.it-2 img {
      height: 17px;
    opacity: .7;
    margin: 0px 2px;
    vertical-align: top;
}

.it-2-icons{
    position: absolute;
    right: 5px;
    line-height: 17px;
}

.it-2-head{
    line-height: 21px;
    overflow: hidden;
    width: 325px;
    margin-bottom: 2px;
}
.it-2-salon {
    line-height: 15px;
    margin-bottom: 6px;
}
.it-2-salon a {
    color: #0AA988;
    font-family: 'Noto Sans';
    font-size: 13px;
}
.it-2-head a{
    color: #000000;
    text-decoration: none;
    letter-spacing: -0.5px;
    font-size: 20px;
    margin-bottom: 4px;    font-weight: 300;
    line-height: 23px;
    font-family: 'Open Sans';
}

.it-2-price{
    overflow: hidden;
}

.it-2-price > div{
    float:left;
    width:142px;
}

.it-2-price span.days{
    display: inline-block;
    padding: 2px 10px;
    font-size: 12px;
    font-weight: normal;
    color: #878787;
    font-family: 'PT Sans Caption';
    border: 1px solid #D5D5D5;
    border-radius: 15px;
}

.it-2-dayPirce{
    line-height: 24px;
    font-family: 'PT Sans Caption';
    font-weight: bold;
    color: #000000;
    font-size: 22px;
    margin-top: 5px;
}

.it-2-dayPirce{
    line-height: 24px;
    font-family: 'PT Sans Caption';
    font-weight: bold;
    color: #000000;
    font-size: 22px;
    margin-top: 5px;
}

.it-2-dayPirce span {
    font-size: 14px;
    font-weight: normal;
    color: #878787;
    margin-left:5px;
}

.site-contact h1{
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 20px;
    text-align: center;
}

.left-part-contacts{
float: left;
    width: 480px;
    margin-top: 30px;
}
.right-part-contacts{
    float:right;
    width:435px; 
    margin-top: 30px;text-align: center;
}
#contact-form input[type='text'], #contact-form textarea {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 250px;
    font-family: 'PT Sans Caption';
    display: inline-block;
    height: 30px;
    padding: 1px 7px;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    border-radius: 4px;
}
#contact-form textarea {
    height: 75px;
}
#contact-form .row{
       margin-bottom: 7px;
}
#contact-form label.error {
    display: block;
    font-family: 'PT Sans Caption';
    font-size: 12px;
    color: red;
    font-weight: normal;
}
#contact-form .help-block{
      text-align: right;
    font-size: 12px;
    margin: 0px 10px 0px;
}
.r-button{
      margin-left: 60px;
}
.right-part-contacts .info{
  padding: 10px;
    background: #eee;
    border-radius: 4px;
    font-family: 'PT SAns Caption';
}


